<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Import</title>
</head>
<body>

<h2>Dolgozók importálása</h2>
<form action="/import/workers" method="POST" enctype="multipart/form-data">
    <input type="file" name="file" required>
    <button type="submit">Dolgozók import</button>
</form>

<hr>

<h2>Előadások importálása</h2>
<form action="/import/shows" method="POST" enctype="multipart/form-data">
    <input type="file" name="file" required>
    <button type="submit">Előadások import</button>
</form>

</body>
</html>
